body {
    margin: 0;
    padding: 0;
    background-color: #bae5e5;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    background-color: #98d6ea;
} 

.movie-input {
    height: 1.75em;
}

.btn {
    border: none;
    border-radius: 10%;
    background-color: #4cd3c2;
    padding: .5em 1em;
}

 .btn:hover {
     background-color: rgb(10, 10, 175);
 }

 .main-movie {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .plot-movie {
     margin: 1rem;
 }